@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Goblin+One&family=Pacifico&display=swap');

/*.gallery .fancybox1 img*/
/*{*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    max-width: 60px;*/
/*}*/

.react-fancybox .thumbnail img {
    max-width: 25px;
}

/*.gallery .fancybox1 thumbnail*/
/*{*/
/*    width: 25px;*/
/*    height: 25px;*/
/*}*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rotate {
    z-index: 999999;
    position: absolute;
    background-color: #000000;
    height: 100%;
    width: auto;
   /*-ms-transform: rotate(90deg);*/
   /* -webkit-transform: rotate(90deg);*/
   /*  transform: rotate(90deg);*/
}

.normal{
  -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
}